$table-header: #1976d2;
$table-header-border: #1565c0;
$table-border: #d9d9d9;

.row {
  display: table-row;

  p {
    margin: 0;
    padding: 5px;
    text-align: center;
    padding-bottom: 15px;
  }
}

.table-header {
  background-color: rgb(97, 115, 153);
  color: #f7f7f7;
  font-weight: bold;

  p {
    padding: 10px;
  }
}
